body{
    background-color: gray;  }
   
    h1 {color:red;
         border:beige;
         text-align: center;
         text-align: center;}
         h2{text-align: center; color:red; }
         h3{color: red;}
    <body>