body {
    background-color:whitesmoke;

  }
  
  h1 {
    color:blue;
    text-align: center;
  }
  h2 {
    color: blue;
    text-align: center;
  }
  
  
  p {
    color:black;
    font-family: verdana;
    font-size: 20px;
    
  }
li{ color:blue;}


  h3{
    color: blue;
   
  }s

  h4{
    color:blue;
  }